<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3" id="sidenav-main">
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" id="iconSidenav"></i>
    <a class="navbar-brand m-0" href="{{ path('app_dashboard') }}">
      <img src="{{ asset('assets/img/logo-ct-dark.png') }}" class="navbar-brand-img h-100" alt="main_logo">
      <span class="ms-1 font-weight-bold">Soft UI Dashboard</span>
    </a>
  </div>

  <hr class="horizontal dark mt-0">

  <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
    <ul class="navbar-nav">

      {# Dashboard #}
      <li class="nav-item">
        <a class="nav-link active" href="{{ path('app_dashboard') }}">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-home text-primary"></i>
          </div>
          <span class="nav-link-text ms-1">Dashboard</span>
        </a>
      </li>

      {# Tables #}
      <li class="nav-item">
        <a class="nav-link" href="/categorie">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-table text-warning"></i>
          </div>
          <span class="nav-link-text ms-1">Gestion Categories</span>
        </a>
      </li>

      {# Billing #}
      <li class="nav-item">
        <a class="nav-link" href="/produit">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-credit-card text-success"></i>
          </div>
          <span class="nav-link-text ms-1">Gestion Produit</span>
        </a>
      </li>

      {# Virtual Reality #}
      <li class="nav-item">
        <a class="nav-link" href="#">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-vr-cardboard text-info"></i>
          </div>
          <span class="nav-link-text ms-1">Virtual Reality</span>
        </a>
      </li>

      {# RTL Page #}
      <li class="nav-item">
        <a class="nav-link" href="#">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-language text-danger"></i>
          </div>
          <span class="nav-link-text ms-1">RTL</span>
        </a>
      </li>

      <hr class="horizontal dark mt-0">

      {# Account Pages #}
      <li class="nav-item mt-3">
        <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Account Pages</h6>
      </li>

      {# Profile #}
      <li class="nav-item">
        <a class="nav-link" href="#">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-user text-dark"></i>
          </div>
          <span class="nav-link-text ms-1">Profile</span>
        </a>
      </li>

      {# Sign In #}
      <li class="nav-item">
        <a class="nav-link" href="#">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-sign-in-alt text-danger"></i>
          </div>
          <span class="nav-link-text ms-1">Sign In</span>
        </a>
      </li>

      {# Sign Up #}
      <li class="nav-item">
        <a class="nav-link" href="#">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-user-plus text-warning"></i>
          </div>
          <span class="nav-link-text ms-1">Sign Up</span>
        </a>
      </li>

    </ul>
  </div>
</aside>
